.trydate {
    display: flex;
    border: solid 2px darkorchid; 
    flex-direction: column;
    height: 50px;
    width: 50%;
}

.date {
 
    
    
}

.container_date {
    display: flex;
    background-origin: padding-box;
    width: 30%;
}

.tryConcepts {
    display: flex;
    border: solid 2px  lightgrey; 
    flex-direction: column;
    height: 50px;
    width: 50%;
}
.container_concepts {
    display: flex;
    background-origin: padding-box;
    width: 30%;
    
}

.concepts {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.tryLabel {
    display: flex;
    border: solid 2px darkorchid; 
    flex-direction: column;
    height: 50px;
    width: 50%;
}
.label {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.container_text {
    display: flex;
    background-origin: padding-box;
    width: 30%;
}

.tryMood {
    display: flex;
    border: solid 2px lightgrey; 
    flex-direction: column;
    height: 50px;
    width: 50%;
}

.mood {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.container_mood {
    display: flex;
    background-origin: padding-box;
    width: 30%; 
}